
replicas: 1

resources:
  requests:
    cpu: "250m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

persistence:
  enabled: true
  size: 20Gi

minimumMasterNodes: 1

service:
  type: ClusterIP
